fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-google-genai
langchain-community
langchain-core
sentence-transformers
faiss-cpu
python-dotenv
pydantic
numpy
torch
transformers
requests
rich
tavily-python
langchain-huggingface